  /*Box Properties*/
  /*Layout Properties*/
  /*List Properties*/
  /*Table Properties*/
  /*Color and Backgrounds*/
  /*Typographical Properties*/

  /*debug drawing*/
* {
 /* border: 1px solid red; /*debug drawing*/
}
  
html {
  /*Color and Backgrounds*/
  background-color: #ace;
  /*Typographical Properties*/
  font-family: Helvetica, Arial, "Luxi Sans", sans-serif;
}

#main {
  /*Box Properties*/
  margin-left: 10%;
  margin-right: 10%;
  /*Color and Backgrounds*/
  background-color: #f2f9ff;
}

/*Instance Bar*/
#instance-bar {
  /*Box Properties*/
  max-height: 90px;
  border: 2px solid blue;
  /*Color and Backgrounds*/
  background-color: #004;
}
#instance-logo {
  height: 90px;  
}
/*Session Bar*/
#session-bar {
  border: 2px solid orange;
  background-color: white;
}

