  /*Box Properties*/
  /*Layout Properties*/
  /*List Properties*/
  /*Table Properties*/
  /*Color and Backgrounds*/
  /*Typographical Properties*/

  /*debug drawing*/
* {
 /* border: 1px solid red; /*debug drawing*/
}
  
html {
  /*Color and Backgrounds*/
  background-color: #ace;
  /*Typographical Properties*/
  font-family: Helvetica, Arial, "Luxi Sans", sans-serif;
}

#main {
  /*Box Properties*/
  margin-left: 10%;
  margin-right: 10%;
  /*Color and Backgrounds*/
  background-color: #f2f9ff;
}

/*Instance Bar*/
#instance-bar {
  /*Box Properties*/
  max-height: 90px;
  border: 2px solid blue;
  /*Color and Backgrounds*/
  background-color: #004;
}
#instance-logo {
  height: 90px;  
}
/*Session Bar*/
#session-bar {
  border: 2px solid yellow;
  background-color: orange;
}
#logout-button {
  /*text-align: right;*/
  float: right;
}


/*Posts*/
div.post {
  border: 2px solid #1CFF37;
  background-color: #BAFFC2;
  margin: .5em;
}
div.post > div.main {
  border: 2px solid #FFE017;
  background-color: #FFF6BA;
}
div.post > div.body {
  display: block;
  border: 2px solid #FFAE00;
  background-color: #FFF6E3;
}
div.post > div.attributes {
  display: block;
  border: 2px solid #FF3B3B;
  background-color: #FFD5C9;
}
div.attributes > div.votebox {
  display: inline;
  border: 2px solid #2E58FF;
  background-color: #C7D2FF;
}
div.attributes > div.tagbox {
  display: inline;
  border: 2px solid #EE2EFF;
  background-color: #FBC9FF;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
