#notification-box {  
  position: absolute;
  z-index: 100;
  overflow: scroll;
  overflow-x: hidden;
}

#notify-text {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #F8F8F8;
  background-image: -webkit-linear-gradient(top,white,#ECECEC);
  background-image: -moz-linear-gradient(top,white,#ECECEC);
  background-image: -ms-linear-gradient(top,white,#ECECEC);
  background-image: -o-linear-gradient(top,white,#ECECEC);
  background-image: linear-gradient(top,white,#ECECEC);
  border-color: #C6C6C6;
  width: 259px;
  height: 22px;
  padding-left: 2px;
  border: .5px black solid;
}

.notify-message {
  position:relative;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  list-style: none;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
  background: linear-gradient(left, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
  width: 259px;
  height: 50px;
  padding-left: 2px;
  border: 1px black solid; 
}

.notify-message a {
  color: blue;
}

#notification-counter {
  padding: 5px;
  margin: 0px;
  color: #666;
  font-family: Arial,sans-serif;
  cursor: pointer;
  background-color: #F8F8F8;
  background-image: -webkit-linear-gradient(top,white,#ECECEC);
  background-image: -moz-linear-gradient(top,white,#ECECEC);
  background-image: -ms-linear-gradient(top,white,#ECECEC);
  background-image: -o-linear-gradient(top,white,#ECECEC);
  background-image: linear-gradient(top,white,#ECECEC);
  border-color: #C6C6C6;
  text-align: center;
  width: 20px;
  height:20px;
}
