<template name="chunk">
  {{#if not_root}}
      <div class="row">
      <div class="span10 offset1">
        <div class="row">
          <div class="span10">
            <button name='group' class='all'>All<br />Posts</button>
            {{#each groups}}
              {{#both ../this}}
                <button name='group' class='{{cur}}'>Tagged as<br />'{{cur}}'</button>
              {{/both}}
            {{/each}}
          </div>
        </div>
        <div class="row">
          <div class="span10">
            {{#each vis_posts}}
              {{#both ../this}}
                <button name='post' class='{{cur}}'>{{cur}}</button>
              {{/both}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  
  {{> post}}
  
  {{#if reply.exists}}
    {{#with reply.post}}
      {{> chunk}}
    {{/with}}
  {{/if}}
</template>
