<template name="notifications">
  <h3 id='notification-counter' class="unselectable">{{notifications.length}}</h3>
  {{#if show}}
    <div id='notification-box'>
      <!--ul-->
        {{#each notifications}}
          <!--li-->
          {{#both group_message}}
            <div class='notify-message'>
              {{points}}{{link_text}}
              {{{message}}}
              <p class='timestamp' title='{{timestamp.full}}'><i class='icon-time'></i>{{timestamp.relative}}</p>
            </div>
          <!--/li-->
          {{/both}}
        {{/each}}
      <!--/ul-->
    </div>
  {{/if}}
</template>
