<template name="notifications">
  <h3 id='notification-counter' class="unselectable">{{count}}</h3>
  {{#if show}}
    <div id='notification-box'>
      <!--ul-->
        {{#each notifications}}
          <!--li-->
            <div class='notify-message'>
              {{message.points}}
              <a class = 'tag_link' href='/{{post_id}}{{message.link}}'>{{message.link_text}}</a>
              {{message.message}}
              <br>
              <abbr title='{{timestamp.full}}'>{{timestamp.relative}}</abbr>
            </div>
          <!--/li-->
        {{/each}}
      <!--/ul-->
    </div>
  {{/if}}
</template>
