
  <!-- 
  Philip's New Post Style 6/12/12
  
  Design goals: 
  Clarity of structure
  -Recursive properties of posts evident in the visible structure.        
  Readability of elements
  Helpfulness to posters
    -->

<template name="post">

  <div class="post_container">
    <div class="table post">
      <div class="colgroup">
        <div class="col content_col"></div>
        <div class="col tag_col"></div>
      </div>
      <div class="tr">
        <div class="td post_content">{{{content}}}</div>
        <div class="td tag_cell">
          {{#with this}}
            {{> tagbox}}
          {{/with}}
        </div>
      </div>
      <div class="tr">
        <div class="td">
          {{> reply_box}}
        </div>
      </div>
    </div>  
    <div class="post_replies">
      {{> stream}} 
    </div>
  </div>
  
</template>
