
  <!-- 
  Philip's New Post Style 6/12/12
  
  Design goals: 
  Clarity of structure
  -Recursive properties of posts evident in the visible structure.        
  Readability of elements
  Helpfulness to posters
    -->

<template name="post">

  <div class="post_container">
    <div class="table post">
      <div class="colgroup">
        <div class="col"></div>
      </div>
      <div class="tr post_top_part">
        <div class="table post_top_part">
          <div class="colgroup">
            <div class="col vote_col"></div>
            <div class="col content_col"></div>
            <div class="col tag_col"></div>
          </div>
          <div class="tr post_top_part">
            <div class="td vote_cell">V</div>
            <div class="td content_cell">
              <div class="post_content">
                <div class="post_info">
                  {{#if parent_href}}
                    <a class="link" href="{{parent_href}}">Parent</a>
                    <text> - </text>
                  {{/if}}
                  <a class="link" href="{{link_href}}">Share</a> - User</div>
                {{{content}}}
              </div>
            </div>
            <div class="td tag_cell">
              {{#with this}}
                {{> tagbox}}
              {{/with}}
            </div>
          </div>
        </div>
      </div>
      <div class="tr post_reply_part">
        {{> reply_box}}
      </div>
    </div>
    <div class="post_stream">
      {{> stream}} 
    </div>
  </div>
  
</template>
