<template name="post_wrapper">
  {{#if not_root}}
      <div class="row">
      <div class="span10 offset1">
        <div class="row">
          <div class="span10">
            <button name='all' class='group'>All<br />Posts</button>
            {{#each groups}}
              {{#both ../this}}
                <button name='{{cur}}' class='group{{group_class}}'>Tagged as<br />'{{cur}}'</button>
                {{debug}}
              {{/both}}
            {{/each}}
          </div>
        </div>
        <div class="row">
          <div class="span10">
            {{#each group_posts}}
              {{#both ../this}}
                <button name='{{cur}}' class='post{{reply_class}}'><img src="http://www.gravatar.com/avatar/{{email_hash}}?s=30&d=identicon" class='nodrag' />{{author_email}}</button>
              {{/both}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  
  {{> post}}
  
  {{#if reply.exists}}
    {{#with reply.post}}
      {{> post_wrapper}}
    {{/with}}
  {{/if}}
</template>