<!--Newpost, Created July 19, 2012-->
<template name="post">
  {{init}}
  <div class="post">
  
    <div class="header nav">
      <a href="#">
        <span class="author">
          <img src="" height="24" width="24" /><em>{{author_short}}.</em>
        </span>
      </a>
      <a href="{{link_href}}" target="_blank"><span class="relativetime">x hours ago</span></a>
      <span class="tag_ops"><button name="see_tags">T</button></span>
      <div class="tag_callout" style="display:{{#if tag_on}}block{{else}}none{{/if}};">
        {{> tagbox}}
      </div>
    </div>
    <div class="mkd">
      {{{content}}}
    </div>
    <div class="footer nav">
      <span class="reply_count"><em>x</em> replies.</span>
      <!--if haven't replied-->
      {{#unless has_replied}}
        {{#unless composing_any_reply}}
          <span class="reply_ops"><button name="reply">Reply</button></span>
        {{/unless}}
      {{/unless}}
      <!--/endif-->
    </div>  
  </div><!--/post-->
  {{#if composing_reply}}
    {{> reply_box}}
  {{/if}}
  
  <div class="ind">
    {{> stream}}
  </div>
</template>
