<template name="post_wrapper">
  {{#if not_root}}
    <div class="row">
      <div class="span10 offset1 belt">
        <div class="pad1">
          <div class="row tag-select-bar">
            <div class="span10">
              {{#each groups}}
                {{#with ..}}
                {{bindParentContext ..}}

                  <div class="btn-group post-select-buttons">
                    {{#if group_selected}}
                      {{#each group_posts}}
                        {{#with ..}}
                        {{bindParentContext ..}}
                          <button name='{{cur}}' class='btn post{{reply_class}}' title="{{title_selected_group}}"><img src="http://www.gravatar.com/avatar/{{email_hash}}?s=60&d=identicon" height='30' width='30' class='nodrag' /></button>
                        {{/with}}
                      {{/each}}

                    {{else}}
                      <button name='{{cur.name}}' class='btn group btn-inverse faded-inside' title="{{title_current_group}}">
                        <div>
                          <img src="http://www.gravatar.com/avatar/{{cur.hash}}?s=52&d=identicon" height='26' width='26' class='avatar nodrag' />
                          <span class='avatar-stack nodrag' style="width: {{cur.width}}px"></span>
                        </div>
                      </button>
                    {{/if}}
                  </div>

                {{/with}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <div id='{{_id}}'>
    {{#if _id}}
    {{> post}}
    {{/if}}
  </div>

  {{#if reply.exists}}
    {{#with reply.post}}
      {{> post_wrapper}}
    {{/with}}
  {{/if}}
</template>
