<template name="stream">
  <div class='stream'>
    <div class='groups'>
      {{#each groups}}
        {{#if is_selected_group}}
          <button name='group' class='{{name}}'>{{name}}</button>
        {{else}}
          <button name='group' class='{{name}}' style='color:green;'>{{name}}</button>
        {{/if}}
      {{/each}}
    </div>
    {{#if replies.group_chosen}}
      <div class='posts'>
      {{#each replies.replies}}
        {{#both ../this}}
            <button name='individual_post' class='{{cur}}' {{#if is_selected_post}}style='color:red;'{{/if}}>
              <img src="{{avatar}}?s=24&d=identicon" />
            </button>
        {{/both}}
      {{/each}}
      </div>
    {{/if}}
    {{#if replies.reply_chosen}}
      {{#with replies.reply}}
        {{> post}}
      {{/with}}
    {{/if}}
  </div>
</template>
