<template name="stream">
  <div class='stream'>
    <div class='groups'>
      {{#each groups}}
          <button name='group' class='{{name}}' {{#unless is_selected_group}}style='color:green;'{{/unless}}>
            {{name}}
          </button>
      {{/each}}
    </div>
    <div class='posts'>
      {{#each replies.replies}}
        <button name='individual_post' {{#if is_selected_post}}style='color:red;'{{/if}} />
      {{/each}}
    </div>
    {{#if replies.reply_chosen}}
      {{#with replies.reply}}
        {{> post}}
      {{/with}}
    {{/if}}
  </div>
</template>
