<template name="tagbox">
  <div class="tag_box">
    <div class="grad-tags">
      {{#tags visible_tags}}
        {{this}}
      {{/tags}}
    </div>
    <div class="add-tags">
      {{#if tagging_post}}
        <div class="suggestions">
          {{#tags suggested_tags}}
             {{this}}
          {{/tags}}
        </div>
        <div class="tag-input">
          <textarea name="tag_text"></textarea>
          <button name="enter_tag">></button>
          <div><button name="done_tagging">Done.</button></div>
        </div>
      {{else}}
        <button name="tag_button">Tag This Post!</button>
      {{/if}}
    </div>
  </div>
</template>
