<template name="votebox">
  <div class="vote_box">
      {{#if voted}}
         <button name="up_vote_done" class="vote_button done" disabled="disabled">^</button>
        <div class="score">{{weight_diff}}</div>
        <button name="down_vote_done" class="vote_button done" disabled="disabled">v</button>
      {{else}}
        <button name="up_vote" class="vote_button">^</button>
        <div class="score">Vote!</div>
        <button name="down_vote" class="vote_button">v</button>
      {{/if}}
  </div>
</template>
