#votebox {
    width: 50px;
}

#ui-upvote {
    height: 30px;
}

#ui-downvote {
    height: 30px;
    /* for firefox, safari, chrome, etc. */
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    /* for ie */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#ui-votetext {
    width: 30px;
    margin:0px 0px 3px 0px;
    padding:0px;
    text-align: center;
}


