[submodule "client/omnipost"]
	path = client/omnipost
	url = git@github.com:Socrenchus/omnipost.git
[submodule "client/tagbox"]
	path = client/tagbox
	url = git@github.com:Socrenchus/tagbox.git
[submodule "client/votebox"]
	path = client/votebox
	url = git@github.com:Socrenchus/votebox.git
