#dimmer_link {
  cursor: default;
}

.dimmer { 
  z-index:100; 
  position:fixed;
  background-color: #000000;
  top:0%; 
  left:0%; 
  height:100%;
  width:100%; 
  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: .8;
}

.popup_post {
  z-index: 200;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

