.mkd {
  font-family: 'Open Sans', sans-serif;
}

.mkd p {
  font-size: 14px;
}

.post {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #CCC;
  
  background-color: #FFF;
  
  padding: 4px 0 4px;
  margin: 4px 0 4px;
}

.ind {
  margin-left: 14px;
}

h1.group {
  background-color: #ACE;
  margin-bottom: -4px;
  margin-top: 8px;
}
ul.group {
  border-left: 4px solid #ACE;
}
