html {
  background-image: url('/images/bg.svg');
  background-size: 12px;
}
body {
  background: transparent;  
}
.belt {
  background: #20232d; /* Old browsers */
  background: -moz-linear-gradient(top, #20232d 0%, #363a4c 19%, #484d66 41%, #484d66 64%, #363a4c 83%, #20232d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#20232d), color-stop(19%,#363a4c), color-stop(41%,#484d66), color-stop(64%,#484d66), color-stop(83%,#363a4c), color-stop(100%,#20232d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #20232d 0%,#363a4c 19%,#484d66 41%,#484d66 64%,#363a4c 83%,#20232d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #20232d 0%,#363a4c 19%,#484d66 41%,#484d66 64%,#363a4c 83%,#20232d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #20232d 0%,#363a4c 19%,#484d66 41%,#484d66 64%,#363a4c 83%,#20232d 100%); /* IE10+ */
  background: linear-gradient(to bottom, #20232d 0%,#363a4c 19%,#484d66 41%,#484d66 64%,#363a4c 83%,#20232d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20232d', endColorstr='#20232d',GradientType=0 ); /* IE6-9 */
}
.tag-select-bar{
  display: none; /*Temporary hiding, to be fixed by Adam*/
}
.btn-group.post-select-buttons{
  margin: 3px;
}
.post-encompasser {
  background: #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 30px 4px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 30px 4px rgba(0, 0, 0, .1);
}
.belt, .post-encompasser {
  outline: 2px solid black;
}

.selected {
  color: blue; /*not permanent, just an indicator temporarily*/  
}

.nodrag {
  -moz-user-select: none;
  -webkit-user-select: none;
  /* this will work for QtWebKit in future */
  -webkit-user-drag: none;
}

.btn.post
{
  padding: 1px;
}
.btn.post > img
{
  border-radius: 2px;
}
.btn.post.faded-img > img
{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
}
  
a.login-link-text {
  text-decoration: none !important;
  font-size: 13px !important;
  color: #999 !important;
  display: block !important;
  margin: 0;
  padding: 10px 10px 10px 5px;
}

a.login-link-text:hover {
  color: white !important;
}
