html {
  background-image: url('/images/bg.svg');
  background-size: 12px;
}
body {
  background: transparent;  
}
.belt {
  background: rgba(255,255,255,.3);
}
.tag-select-bar{
}

.avatar-stack {
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-image: url('/images/page.svg');
  background-size: 4px 32px;
  height: 32px;
  width: 0px;
}

img.avatar {
  float: left;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.btn-group.post-select-buttons{
  margin: 3px;
}
.post-encompasser {
  background: #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 30px 4px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 30px 4px rgba(0, 0, 0, .1);
}
.belt, .post-encompasser {
  outline: 1px solid black;
}

.selected {
  color: blue; /*not permanent, just an indicator temporarily*/  
}

.nodrag {
  -moz-user-select: none;
  -webkit-user-select: none;
  /* this will work for QtWebKit in future */
  -webkit-user-drag: none;
}

.btn.post
{
  padding: 1px;
}
.btn.post > img
{
  border-radius: 2px;
}
.btn.post.faded-img > img
{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
}
  
a.login-link-text {
  text-decoration: none !important;
  font-size: 13px !important;
  color: #999 !important;
  display: block !important;
  margin: 0;
  padding: 10px 10px 10px 5px;
}

a.login-link-text:hover {
  color: white !important;
}

.conversation-footer {
  background-color: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
  
  position: fixed;
  height: 100%;
  outline: 1px solid black;
}
