div.tag_box ul {
  list-style-type: none;
}

div.tag_box > div.grad-tags {
  display: table-cell;
  border: 2px solid #AEFDCB;
  width: 50%;
}

div.tag_box > div.add-tags {
  display: table-cell;
  border: 2px solid #AEFDCB;
  width: 50%;
}
div.add-tags > div.suggestions {
  overflow: scroll;
  overflow-x: hidden;
}

div.tag-input > textarea {
  width: 70%;
  height: 1.5em;
  resize: none; 
}

div.tag-input > button {
  display: inline;
  width: 40%; 
}

.tag {
display: inline-block;
background-color: #fff;
color: #000;
border: 1px solid #808080;
}

.tag.suggested {
display: block;
}
.tag.grad {
background-color: #000;
color: #fff;
}
.tag.mytag {
border: 2px solid #008000;
}
