body {
  font: normal 13px arial,sans-serif;
}

a {
  color: #B3B3B3;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  text-align: right;
  color: #EBEBEB;
}

h2 {
  padding-top:4px;
  text-align: left;
  color: #EBEBEB;
}

.mediumText {
  text-align: left;
  font-size: 35px;
  line-height: 45px;
  color: #000000;
}

.largeText {
  font-size: 45px;
  line-height: 60px;
}

#main {
  background-color:yellow;
  width: 576px;
  border: 1px solid #EBEBEB;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  margin: auto;
}

#logout {
  float: right;
  position: relative;
  color: #EBEBEB;
  top: 0px;
  right: 5px;
}

#table-top {
  width: 576px;
  background-color: #000000;
  position: absolute;
  overflow: hidden;
}

#hello {
  text-align: right;
  font-size: 20px;
}

#learn {
  margin: 0 20px 5px 20px;
}