body {
  font-size: 11px;
  font-family: 'Lucida Grande';
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  text-align: right;
  color: #FFFFFF;
}

#logo {
  height: 100px;
  margin-left: 35px;
  margin-top: 15px;
}

h2 {
  padding-top:4px;
  text-align: left;
  color: #FFFFFF;
}

#tabs {
  width: 576px;
  border: 1px solid #0bebeb;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  margin: auto;
}

#share {
  background-color: #DC8D31;
  border: 5px solid #1D6DB6;
  padding: 10px;
  padding-right: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#logout {
  float: right;
  position: relative;
  color: #0bebeb;
  top: 0px;
  right: 5px;
}

#table-top {
  width: 576px;
  background-color: #FFFFFF;
  position: absolute;
  overflow: hidden;
}

.submitArea {
  float: right;
}

#question-text {
  border: none;
  width: 100%;
  overflow: hidden;
  resize: none;
}

.question {
  border-top: 1px solid #ebebeb;
  padding-top: 16px; 
  padding-right 21px;
}

.inner-question {
  margin-left: 44px;
  margin-right: 44px;
}

.template {
  display: none;
}

.avatar {
  margin-left:-18px;
}

.mc-radio {
  margin: 5px 5px;
}

.defaultText {
  width: 100%;
}

.defaultTextActive {
  color: #a1a1a1; font-style: italic;
}

#assignments li { 
  margin: 60px 5px 44px 5px;
}

.ui-state-hover {
  opacity: 0.6;
}

.questionTextBox, .answerTextBox {
  margin-left: 21px;
  margin-right: 21px;
  width: 100%;
}

.answerTextBox {
  height: 21px;
}
