body {
  font-size: 13px;
  font-family: 'Lucida Grande';
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  text-align: right;
}


h2 {
  padding-top:4px;
  text-align: left;
}

.mediumText {
  text-align: left;
  font-size: 30px;
  line-height: 45px;
  color: #000;
}

.largeText {
  font-size: 40px;
  line-height: 60px;
  color: #444444;
}

.smallText {
  text-align: right;
  font-size: 17px;
}

#welcome {
  display: none;
  padding: 10px 56px 5px 56px;
}

textarea {
  font-size: 13px;
  font-family: 'Lucida Grande';
}

textarea[readonly] {
  color: #595454;
}

#logo {
  height: 100px;
  margin-left: 35px;
}

#learn {
  margin-top: 100px;
}

h2 {
  padding-top:4px;
  text-align: left;
  color: #FFFFFF;
}

#main {
  width: 576px;
  border: 2px solid #ebebeb;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  margin: auto;
}

#logout {
  float: right;
  position: relative;
  color: #ebebeb;
  top: 0px;
  right: 5px;
}

#table-top {
  width: 576px;
  height: 100px;
  position: absolute;
  background-color: lightGray;
  border-bottom: 2px solid #ebebeb;
}

.submitArea {
  float: right;
}

#question-text, #assignment-text {
  border: none;
  width: 100%;
  overflow: hidden;
  resize: none;
  outline: 0px none transparent;
  color: black;
}

#nextPage {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  top: -25px;
  display: none;  
}

#nextPage a, #prevPage a {
  color: blue;
  font-weight: bold;
}

#grader {
  margin-bottom: -35px;
}

.no-selection {
  outline: 0px none transparent;
}

.question {
  border-top: 1px solid #ebebeb;
  padding-top: 16px; 
  padding-right 21px;
}

.inner-question {
  margin-left: 36px;
  margin-right: 44px;
}

#templates {
  display: none;
}

.avatar {
  margin-left:-18px;
}

.mc-radio {
  margin: 5px 5px;
}

.defaultText {
  width: 100%;
}

.defaultTextActive {
  color: #a1a1a1; 
  font-style: italic;
}

#assignments li{ 
  margin: 0px 0px 0px 0px;
}

#content li { 
  margin: 0px 10px 44px 5px;
  padding-left: 10px;
}

#content {
  border-left: 1px solid #ebebeb;
}

.ui-state-hover {
  opacity: 0.6;
}

#report {
  display: none;
  margin-left: 30px;
}

#classes {
  display: none;
  position: absolute;
  width: 150px;
  top: 30px;
  right: 45px;
  border: 5px solid #ebebeb;
  background-color: #2965AF;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#classes .ui-selecting { 
  background: #FECA40; 
}
#classes .ui-selected { 
  display: block;
  color: black;
  background: lightGray;
}
#classes .ui-mouseover {
  color: black;
  background: lightGray;
}

#classes li {
  display: none;
  overflow: hidden;
  white-space: nowrap;
  margin: 3px;
  padding: 0.4em;
  font-size: 1.1em;
  height: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#chart {
  margin-bottom: 20px;
}

