<!--Copyright 2011 Bryan Goldstein. All rights reserved.-->
<!doctype html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link type="text/css" rel="stylesheet" href="static/Announcement.css">
    <link type="text/css" rel="stylesheet" href="static/main.css">

    <title>Socrenchus</title>
    
  </head>
  <body>
  <div id='main'>
    <div id="table-top">
      <img id='logo' src='/static/logo.png'>
    </div>
      <div style="height:54px;"></div>
      <div id="learn">
<h1 class='mediumText'><i>WHAT IF</i> YOU HAD A <span class='largeText'>PERSONAL TUTOR</span> THAT REGULARLY MET WITH ALL YOUR PROFESSORS TO ADVOCATE FOR YOU AND TEACH YOU EVERYTHING YOU DON'T UNDERSTAND?<br/><hr/></h1><h1 class='mediumText'><i>WHAT IF</i> YOU HAD A <span class='largeText'>GRADER</span> FOR ALL YOUR CLASSES THAT WORKED WITH YOUR STUDENTS TO HELP YOU UNDERSTAND THEIR NEEDS?<br/><hr/></h1><h2 id='hello' class='mediumText'>GOODBYE <i>WHAT IF</i>, HELLO&nbsp;&nbsp;<span class='mediumText'>SOCRENCHUS</span></h2>
  </div>
  </div>
  </body>
</html>
