<!--Copyright 2011 Bryan Goldstein. All rights reserved.-->
<!doctype html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link type="text/css" rel="stylesheet" href="static/Announcement.css">

    <title>Socrenchus</title>
    
    <link href="https://plus.google.com/109207716621275567485" rel="publisher" /><script type="text/javascript">
    (function() 
    {var po = document.createElement("script");
    po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(po, s);
    })();</script>
    
  </head>
  <body style='background-color:#EBEBEB;'>
  <div id='main'>
     <table id="table-top">
      <tr>
        <td>
          <h1>Socrenchus&nbsp;</h1>
        </td>
        <td>
          <h2>> Online Learning Experiment</h2>
        </td>
      </tr>
      <table>
      <div style="height:54px;"></div>
      <div id="learn">
<h1 class='mediumText'><i>WHAT IF</i> YOU HAD A <span class='largeText'>PERSONAL TUTOR</span> THAT REGULARLY MET WITH ALL YOUR PROFESSORS TO ADVOCATE FOR YOU AND TEACH YOU EVERYTHING YOU DON'T UNDERSTAND?<br/><br/></h1><h1 class='mediumText'><i>WHAT IF</i> YOU HAD A <span class='largeText'>GRADER</span> FOR ALL YOUR CLASSES THAT WORKED WITH YOUR STUDENTS TO HELP YOU UNDERSTAND THEIR NEEDS?<br/><br/></h1><h2 id='hello' class='mediumText'>GOODBYE <i>WHAT IF</i>, HELLO&nbsp;&nbsp;<span class='mediumText'>SOCRENCHUS</span></h2>
  </div>
  </div>
  <g:plus href="https://plus.google.com/109207716621275567485" size="badge"></g:plus>
  </body>
</html>
