<!DOCTYPE html>
<html lang="en">
<head>
<title>Directed Learning</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/javascript/instant.js"></script>
</head>
<body>
    <h1>Find a Question</h1>
	<form action="/" method="get">
    <input type="text" name="q" value="{{ query }}"/>
	  <input type="submit" value="Search" />
	</form>
	{% for result in results %}
	  <a href="{{ result.key }}">{{ result.value }}</a><br/>
	{% endfor %}
	{% if results %}
	  Don't see your lesson? <a href="new">Create it.</a>
	{% endif %}
	{% if query and not results %}
	  We could not find a matching question, try <a href="http://www.articlespinnertool.com/">rephrasing</a> it or <a href="new">create your own.</a>
	{% endif %}
</body>
</html>