<!--Copyright 2011 Bryan Goldstein. All rights reserved.-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script>
    <script src="//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript">
</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" type="text/javascript">
</script>
    <script type="text/javascript" src="/static/javascript/jquery.md5.js">
</script>
    <script type="text/javascript" src="/static/javascript/autoresize.jquery.min.js">
</script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4eff18ed1735c2b6"></script>
<script type="text/javascript" src="/static/javascript/jquery.flot.min.js">
</script>
<script type="text/javascript" src="/static/javascript/jquery.flot.stack.js">
</script>
    <script type="text/javascript" src="/static/javascript/main.js">
</script>
    <link href="/static/main.css" type="text/css" rel="stylesheet">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/flick/jquery-ui.css" type="text/css" rel="stylesheet">
    <title>
      Directed Learning
    </title>
  </head>
  <body>
    <div id="tabs">
      <div id="table-top">
        <a id="logout" name="logout">Logout</a>
        <img id='logo' src='/static/logo.jpg'>
      </div>
      <!--<table id="table-top">
      <tr>
        <td>
          <h1>Socrenchus&nbsp;</h1>
          
        </td>
        <td>
          <h2>> Online Learning Experiment</h2>
        </td>
      </tr>
      <table>-->
      <div style="height:54px;"></div>
      <div id="learn">
        <ul id="assignments" class="sortable ui-helper-reset">
          
        <script id="shortAnswerQuestionTemplate" type="text/x-jquery-tmpl">
          <li id="${key}" class="question">
            <div class="inner-question">
              <textarea id='question-text' name=${key} readonly></textarea> 

              <textarea id="answer" class="defaultText autoResizable no-selection" title="enter your response here" {{if answer}}readonly{{/if}}>{{if answer}}${answer.value}{{/if}}</textarea>

              </br>
              {{if !answer || answer.length == 0}}
              <button id="submit" class="submitArea" value="submit">Submit</button>
              {{else confident}}
              <a class="submitArea">Score: ${score*100}%</a>
              {{/if}}
              
            </div>
          </li>
        </script>
        <script id="graderQuestionTemplate" type="text/x-jquery-tmpl">
          <li id="${key}" class="question">
            <div class="inner-question">
              <textarea id='question-text' name=${key} readonly></textarea> 
              
              <textarea id="answerInQuestion" class="defaultText autoResizable no-selection" readonly>${answerInQuestion.value}</textarea>
              
              <br/><br/>
              <div id="slider" name="${key}"></div>
              <br/>
              You give this answer <span id="answer" name="${key}">0</span> out of 100.
              <br/>
              {{if !answer && answer != 0 }}
              <button id="submit" class="submitArea" value="submit">Submit</button>
              {{/if}}

            </div>
          </li>
        </script>
        <script id="questionStatsTemplate" type="text/x-jquery-tmpl">
          <li id="${key}" class="question">
            <div class="inner-question">
              <textarea id='question-text' name=${key} readonly></textarea> 
              <div id="share">
              <b>Share this link with your students:</b>
              <br/>
              <input type='textbox' value='http://${window.location.host}/${answer.key}' style='text-align:left;width:100%;float:left;' readonly />
              <span class="addthis_toolbox addthis_default_style" addthis:url='http://${window.location.host}/${answer.key}'>
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_preferred_3"></a>
              <a class="addthis_button_preferred_4"></a>
              <a class="addthis_button_compact"></a>
              </span>
              </div>
              </br>
              <div id='chart' name='${key}' style="width:100%;height:200px"></div>
                  <a class="submitArea" href='/${key}/report.csv'>Download Report</a>
              </div>
          </li>
        </script>
        </ul>
        <ul id="templates">
          <li id="intro" class="question">
            <div class="inner-question">
              <div id='question-text'>Welcome to Socrenchus, we have begun on the path to redesigning the educational experience for the information age, but we aren't quite there yet.
                <br/><br/>
                If you have an issue you can report it on the Google group <a href='https://groups.google.com/forum/#!forum/socrenchus'>here</a>. Enjoy what we have to offer so far!
                <br/><br/>
                - Bryan
              </div> 
              
              <br/>
          </li>
        </ul>
      </div>
      <span id="prevPage">
        <a>Previous</a>
      </span>
      <span id="nextPage">
        <a>Next</a>
      </span>
    </div>
  </body>
</html>
