@import "mixins"

html {
  background-color: #ace;
  font-family: 'PT Sans', Helvetica, Arial, "Luxi Sans", sans-serif;
}

#main {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #f2f9ff;
}

#instance-bar {
  max-height: 90px;
  border: 2px solid blue;
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #000044 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#000044));
  background: -webkit-linear-gradient(top, #000000 0%,#000044 100%); 
  background: -o-linear-gradient(top, #000000 0%,#000044 100%); 
  background: -ms-linear-gradient(top, #000000 0%,#000044 100%);
  background: linear-gradient(top, #000000 0%,#000044 100%); 
}

#instance-logo {
  height: 90px;
  background-image: url("/images/logo.png");
}


.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#session-bar {
  border: 2px solid yellow;
  background-color: orange;
}
span.sessionBarUserName {
	font-weight: bold; //something to set it apart.  
	text-shadow: 0px 1px 0px yellow;
}
#logout-button {
  float: right;
}


/* vvvvvvv NOT NECESSARY.  Just so I could test the tagbox. */

div.tag_box > div.grad-tags {
  display: table-cell;
  border: 2px solid #AEFDCB;
  width: 50%;
}

div.tag_box > div.add-tags {
  display: table-cell;
  border: 2px solid #AEFDCB;
  width: 50%;
}
div.add-tags > div.suggestions {
  overflow: scroll;
  overflow-x: hidden;
}

div.tag-input > textarea {
  width: 70%;
  height: 1.5em;
  resize: none; 
}

div.tag-input > button {
  display: inline;
  width: 40%; 
}

.tag {
display: inline-block;
background-color: #fff;
color: #000;
border: 1px solid #808080;
}

.tag.suggested {
display: block;
}
.tag.grad {
background-color: #000;
color: #fff;
}
.tag.mytag {
border: 2px solid #008000;
}

ul {
  list-style-type: none;
}

/*^^^^ NOT NECESSARY. */
