#dimmer_link {
  cursor: default;
}

.dimmer { 
  z-index:100; 
  position:fixed;
  background-color: #000000;
  opacity .8 
  top:0%; 
  left:0%; 
  height:100%;
  width:100%; 
}

.popup_post {
  z-index:200;
  position: absolute;
  width: 80%
  opacity 1.0
}

/*
.msgbox{ 
  position:absolute; 
  width:300px; 
  height:200px; 
  z-index:200; 
  border:5px solid #222; 
  background: #FFF; 
  top: 50%; 
  left: 50%; 
  margin-top: -100px; 
  margin-left: -150px; 
  
}  

.msgbox img {border:none; margin:5px;}  
*/
