post_basecolor = rgb(89, 122, 255, 1)
//post_basecolor = white
//post_basecolor = #555 //GREY
//post_basecolor = #4e9a06 //GREEN
//post_basecolor = blue
//post_basecolor = rgb(1, 0, 89) //DBLUE
post_papercolor = post_basecolor + 95%
post_lightcolor = post_basecolor + 50%
post_llightcolor = post_lightcolor + 50%
post_darkcolor = post_basecolor - 50%
post_ddarkcolor = post_darkcolor - 50%
post_shadecolor = post_darkcolor

tagbox_width = 10em
tagbox_padding = .5em
post_content_width = 30em
post_width = tagbox_width + 4*(tagbox_padding) + post_content_width

//div.post_container
//  padding 1em
//  border-radius 1em
//  border 1px solid post_basecolor 

//Table structure
div.table
  display table
div.colgroup
  display table-column-group
div.col
  display table-column
div.tr
  display table-row
div.td
  display table-cell
div.post.table
  table-layout fixed  //not necessary
  border-collapse separate //default anyway
  border-spacing 0

//Stylistics
div.post
  //Layout
  margin .5em
  padding 0
  width post_width

  //Styling
  border 1px solid post_ddarkcolor
  border-radius .5em
  box-shadow inset 0 -5px 10px post_darkcolor, 1px 2px 5px post_darkcolor
  background-image -webkit-linear-gradient(top, post_basecolor 0%, post_shadecolor 100%)
  
div.content_cell
  position: relative
  left 0
  top 0

  border-color post_lightcolor post_darkcolor post_darkcolor post_lightcolor 
  border-style none solid solid none
  border-width 0px 1px 1px 0px
  border-radius .5em 0 .5em 0
  background-color post_papercolor
  box-shadow inset -2px -3px 10px post_lightcolor, inset 1px 1px 1px post_basecolor
  margin 0 0 0 0
  min-height tagbox_width + .6m
  width post_content_width

div.post_info
  height 1em
  margin 0 0 0 0
  padding 0 0 .25em .25em
  border-bottom 1px solid post_lightcolor
  display inline-block
  position relative
  top 0
  right 0
  float right
  
  

div.tag_cell
  position: relative
  left 0
  top 0
  padding .5em
  width tagbox_width + 4.5*(tagbox_padding)

div.post_content
  //Layout
  min-height tagbox_width + .6em
  width post_content_width - 1em
  padding .5em
  
   
  //Text styles
  p
    margin 0 0 1em 0
    text-shadow 1px 1px 1px post_lightcolor
  h1
  h2
  h3
  h4
  h5
  h6
    text-shadow 1px 1px 1px post_lightcolor
  code
    text-shadow 1px 1px 1px post_lightcolor



div.tagbox
  position: absolute
  left 0
  top 0
  //Layout + Sizing
  height tagbox_width
  width tagbox_width
  margin .5em//.5em  
  padding .5em

  //Styling
  border 1px solid post_darkcolor
  border-radius .5em
  background-color post_llightcolor
  box-shadow inset 0 3px 5px post_basecolor
  
  ul
    display inline-block


div.your-reply {
  //border: 1px solid #2E58FF;
  //background-color: #C7D2FF;
  //border-bottom-width: 2px;
}
div.your-reply > textarea {
  display: block;
  width: post_content_width
  min-height: 8em;
  margin: .5em;
  
  resize: none;

  border: 1px solid #2E58FF;
  border-top-width: 2px;
  border-left-color: #738FFF;
  border-left-width: 2px;
  border-right-color: #738FFF;
  border-right-width: 2px;
  
  background: #e3ebf7;
  background: -moz-linear-gradient(top, #e3ebf7 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3ebf7), color-stop(100%,#ffffff)); 
  background: -webkit-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: -o-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: -ms-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
   
  font-family: Helvetica, Arial, "Luxi Sans", sans-serif;
}
div.your-reply > button {
  margin: .5em;
}

/*
div.post {
  border: 2px solid #1CFF37;
  background-color: #BAFFC2;
  margin: .5em;
}
div.post > div.main {
  display: table;
  width: 100%;
  border: 2px solid #FFE017;
  background-color: #FFF6BA;
}
div.post > div.main > div.body {
  display: table-cell;
  border: 2px solid #FFAE00;
  background-color: #FFF6E3;
}
div.post > div.main > div.attributes {
  display: table-cell;
  width: 30%;
  border: 2px solid #FF3B3B;
  background-color: #FFD5C9;
}
div.vote_box {
  display: table-cell;
  border: 2px solid #2E58FF;
  background-color: #C7D2FF;
  width: 3em;
}

div.vote_box > button.vote_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2em;
}

div.vote_box > div.score {
  text-align: center;
}

.tag {
  display: inline;
  border: 2px solid #EE2EFF;
  background-color: #FBC9FF;
}

div.your-reply {
  border: 1px solid #2E58FF;
  background-color: #C7D2FF;
  border-bottom-width: 2px;
}
div.your-reply > textarea {
  display: block;
  width: 90%;
  minHeight: 8em;
  margin: .5em;
  
  resize: none;

  border: 1px solid #2E58FF;
  border-top-width: 2px;
  border-left-color: #738FFF;
  border-left-width: 2px;
  border-right-color: #738FFF;
  border-right-width: 2px;
  
  background: #e3ebf7;
  background: -moz-linear-gradient(top, #e3ebf7 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3ebf7), color-stop(100%,#ffffff)); 
  background: -webkit-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: -o-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: -ms-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
   
  font-family: Helvetica, Arial, "Luxi Sans", sans-serif;
}
div.your-reply > button {
  margin: .5em;
}

ul {
  list-style-type: none;
}
*/
