post_basecolor = rgb(89, 122, 255, 1)
//post_basecolor = #4e9a06 //GREEN
//post_basecolor = rgb(1, 0, 89) //DBLUE
post_papercolor = post_basecolor + 95%
post_lightcolor = post_basecolor + 50%
post_llightcolor = post_lightcolor + 50%
post_darkcolor = post_basecolor - 50%
post_ddarkcolor = post_darkcolor - 50%

div.post
  border 1px solid post_ddarkcolor
  //Since mixins aren't working correctly, border-radius, box-shadow and background gradients aren't cross-browser compatible yet.  
  //I can fix this, but I haven't yet. 
  border-radius .5em
  box-shadow inset 0 -5px 10px post_darkcolor, 1px 2px 5px post_darkcolor
  background-image -webkit-linear-gradient(top, post_basecolor 0%, post_darkcolor 100%)
  margin .5em
  padding 0

//Table structure
div.table
  display table
div.colgroup
  display table-column-group
div.col
  display table-column
div.tr
  display table-row
div.td
  display table-cell
 
//Post size-tuning and layout
div.post_container
  display inline-block

div.post_content
div.post-content
  border-color post_darkcolor post_darkcolor post_darkcolor post_darkcolor 
  border-style none solid solid none
  border-width 0px 1px 1px 0px
  border-radius .5em 0 0 0
  background-color post_papercolor
  box-shadow inset -2px -3px 10px post_lightcolor
  position relative
  top 0
  left 0
  padding .5em
  margin 0 0 0 0
  
  p
    margin 0 0 1em 0
    text-shadow 1px 1px 1px post_lightcolor
    

div.tagbox
  border 1px solid post_darkcolor
  border-radius .5em
  background-color post_llightcolor
  box-shadow inset 0 3px 5px post_basecolor
  margin .5em  
  padding .5em




div.post-main
  display table

  div.post-votebox-column
    display table-cell

  div.post-content-column
    display table-cell
    width auto
    
  div.post-tagbox-column
    display table-cell
    width 12em






div.your-reply {
  //border: 1px solid #2E58FF;
  //background-color: #C7D2FF;
  //border-bottom-width: 2px;
}
div.your-reply > textarea {
  display: block;
  width: 90%;
  minHeight: 8em;
  margin: .5em;
  
  resize: none;

  border: 1px solid #2E58FF;
  border-top-width: 2px;
  border-left-color: #738FFF;
  border-left-width: 2px;
  border-right-color: #738FFF;
  border-right-width: 2px;
  
  background: #e3ebf7;
  background: -moz-linear-gradient(top, #e3ebf7 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3ebf7), color-stop(100%,#ffffff)); 
  background: -webkit-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: -o-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: -ms-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
   
  font-family: Helvetica, Arial, "Luxi Sans", sans-serif;
}
div.your-reply > button {
  margin: .5em;
}

/*
div.post {
  border: 2px solid #1CFF37;
  background-color: #BAFFC2;
  margin: .5em;
}
div.post > div.main {
  display: table;
  width: 100%;
  border: 2px solid #FFE017;
  background-color: #FFF6BA;
}
div.post > div.main > div.body {
  display: table-cell;
  border: 2px solid #FFAE00;
  background-color: #FFF6E3;
}
div.post > div.main > div.attributes {
  display: table-cell;
  width: 30%;
  border: 2px solid #FF3B3B;
  background-color: #FFD5C9;
}
div.vote_box {
  display: table-cell;
  border: 2px solid #2E58FF;
  background-color: #C7D2FF;
  width: 3em;
}

div.vote_box > button.vote_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2em;
}

div.vote_box > div.score {
  text-align: center;
}

.tag {
  display: inline;
  border: 2px solid #EE2EFF;
  background-color: #FBC9FF;
}

div.your-reply {
  border: 1px solid #2E58FF;
  background-color: #C7D2FF;
  border-bottom-width: 2px;
}
div.your-reply > textarea {
  display: block;
  width: 90%;
  minHeight: 8em;
  margin: .5em;
  
  resize: none;

  border: 1px solid #2E58FF;
  border-top-width: 2px;
  border-left-color: #738FFF;
  border-left-width: 2px;
  border-right-color: #738FFF;
  border-right-width: 2px;
  
  background: #e3ebf7;
  background: -moz-linear-gradient(top, #e3ebf7 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3ebf7), color-stop(100%,#ffffff)); 
  background: -webkit-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: -o-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: -ms-linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
  background: linear-gradient(top, #e3ebf7 0%,#ffffff 100%);
   
  font-family: Helvetica, Arial, "Luxi Sans", sans-serif;
}
div.your-reply > button {
  margin: .5em;
}

ul {
  list-style-type: none;
}
*/
